h1{
  font-family: sans-serif;
  text-align: left;
  padding: 15px;
  border-bottom: 1px solid;
}
h2{
  font-family: sans-serif;
}

input{
  padding: 5px;
}
input[type="Date"]{
  padding: 3px;
}

button{
  padding: 5px;
 

}

table {
    margin-top: 1%;
    border: 2px solid #42b983;
    border-radius: 3px;
    background-color: #fff;
  }
  
  th {
    background-color: #42b983;
    color: rgba(255,255,255,0.66);
 
  }
  
  td {
    background-color: #f9f9f9;
    text-align: center;
  }
  
  th, td {
    min-width: 112px;
    padding: 10px 20px;
  }

  img{
    margin-bottom:-10px;
    margin-left: 1px;
  }  

  #menu ul {
    padding:0px;
    margin:0px;
    background-color:#EDEDED;
    list-style:none;
}

#menu ul li {
   display: inline; 
   font-family: sans-serif;
   font-size: 20px;
}

#menu ul li a {
  padding: 15px 10px;
  display: inline-block;
  background-color:#EDEDED;
  color: #333;
  text-decoration: none;
  border-bottom:3px solid #EDEDED;
}

#menu ul li a:hover {
  background-color:#D6D6D6;
  color: #6D6D6D;
  
}